In [1]:
print(1)

[1] 1

In [19]:
library(tinytable)

options(digits = 3) # how many significant digits to print by default
options(tinytable_print_output = "markdown")
options("tinytable_tt_placement" = "H") # for LaTeX

In [20]:
x <- mtcars[1:4, 1:5]
tt(x)

+------+-----+------+-----+------+
| mpg  | cyl | disp | hp  | drat |
+======+=====+======+=====+======+
| 21.0 | 6   | 160  | 110 | 3.90 |
+------+-----+------+-----+------+
| 21.0 | 6   | 160  | 110 | 3.90 |
+------+-----+------+-----+------+
| 22.8 | 4   | 108  |  93 | 3.85 |
+------+-----+------+-----+------+
| 21.4 | 6   | 258  | 110 | 3.08 |
+------+-----+------+-----+------+

In [21]:
#| label: table1
tt(x, theme = "striped")

+------+-----+------+-----+------+
| mpg  | cyl | disp | hp  | drat |
+======+=====+======+=====+======+
| 21.0 | 6   | 160  | 110 | 3.90 |
+------+-----+------+-----+------+
| 21.0 | 6   | 160  | 110 | 3.90 |
+------+-----+------+-----+------+
| 22.8 | 4   | 108  |  93 | 3.85 |
+------+-----+------+-----+------+
| 21.4 | 6   | 258  | 110 | 3.08 |
+------+-----+------+-----+------+

In [22]:
dat <- data.frame(
     w = c(143002.2092, 201399.181, 100188.3883),
     x = c(1.43402, 201.399, 0.134588),
     y = as.Date(sample(1:1000, 3)),
     z = c(TRUE, TRUE, FALSE))

tt(dat, digits = 2)

+--------+--------+------------+-------+
| w      | x      | y          | z     |
+========+========+============+=======+
| 143002 |   1.43 | 1971-01-19 | True  |
+--------+--------+------------+-------+
| 201399 | 201.4  | 1971-06-28 | True  |
+--------+--------+------------+-------+
| 100188 |   0.13 | 1970-01-14 | False |
+--------+--------+------------+-------+

In [23]:
#| label: table-math
dat <- data.frame(Math = c(
  "$x^2 + y^2 = z^2$",
  "$\\frac{1}{2}$"
))
tt(dat) |> style_tt(j = 1, align = "c")

+-------------------+
| Math              |
+===================+
| $x^2 + y^2 = z^2$ |
+-------------------+
| $\frac{1}{2}$     |
+-------------------+

In [12]:
#create data frame
df <- data.frame(x=c(1, 2, 3, 4, 5, 6, 7),
                 y=c(3, 4, 4, 8, 6, 10, 14))

#view data frame
df

  x y
1 1  3
2 2  4
3 3  4
4 4  8
5 5  6
6 6 10
7 7 14

In [24]:
knitr::kable(
  head(mtcars[, 1:8], 10), booktabs = TRUE,
  caption = 'A table of the first 10 rows of the mtcars data.'
)

Table: A table of the first 10 rows of the mtcars data.

|                  |  mpg| cyl| disp|  hp| drat|   wt| qsec| vs|
|:-----------------|----:|---:|----:|---:|----:|----:|----:|--:|
|Mazda RX4         | 21.0|   6|  160| 110| 3.90| 2.62| 16.5|  0|
|Mazda RX4 Wag     | 21.0|   6|  160| 110| 3.90| 2.88| 17.0|  0|
|Datsun 710        | 22.8|   4|  108|  93| 3.85| 2.32| 18.6|  1|
|Hornet 4 Drive    | 21.4|   6|  258| 110| 3.08| 3.21| 19.4|  1|
|Hornet Sportabout | 18.7|   8|  360| 175| 3.15| 3.44| 17.0|  0|
|Valiant           | 18.1|   6|  225| 105| 2.76| 3.46| 20.2|  1|
|Duster 360        | 14.3|   8|  360| 245| 3.21| 3.57| 15.8|  0|
|Merc 240D         | 24.4|   4|  147|  62| 3.69| 3.19| 20.0|  1|
|Merc 230          | 22.8|   4|  141|  95| 3.92| 3.15| 22.9|  1|
|Merc 280          | 19.2|   6|  168| 123| 3.92| 3.44| 18.3|  1|